/* App.css */
body {
  background: #041d45;
}


.App {
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid white;
  padding: 10px;
  margin: 5px auto; /* Auto margin horizontally centers the box */
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #f0f0f0;
  max-width: 800px; /* Set a maximum width for the box */
}

/* In your CSS file */
.todo-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  width: 200px;
  /* Add more styles as needed */
}

/* In your CSS file */
.add-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4CAF50;  /* Green background color */
  color: white;
  border: 1px solid #4CAF50;  /* Matching border color */
  border-radius: 4px;
  cursor: pointer;
  /* Add more styles as needed */
}






.completed {
  text-decoration: line-through;
}

/* Add these styles for the buttons */
li button {
  cursor: pointer;
  border: none; /* Remove border */
  padding: 9px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
  border-radius: 15px; /* Adjust the value based on your preference for the capsule shape */
  background-color: #007bff; /* Add a background color for the button */
}

li .complete-btn {
  background-color: #3cd404;
}

li .delete-btn {
  background-color: #cf0808;
}
